//This file is  preloaded within vue.config

//Colors
$white: #FFFFFF;
$bleachedSilk: #F2F2F2;
$christmasSilver: #E0E0E0;
$doctor: #F9F9F9;
$greyBlueHeron: #D6DFEF;
$washedBlack: #212529;
$carbon: #333333;
$blackOak: #4F4F4F;
$searedGrey: #495057;
$pompeiiAsh :#6C757D;
$parakeetBlue: #80BDFF;
$frozenState: #2CF2FF;
$adventureSea: #335DAE;
$warmPink: #FC547C;
