.search-quiz {
  border: 1px solid $doctor;
  border-radius: 30px;
  max-width: 250px;
  background: $doctor url("data:image/svg+xml, %3Csvg%20width%3D%2217%22%20height%3D%2218%22%20viewBox%3D%220%200%2017%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.7223%2015.1872L12.8524%2012.3174C13.9226%2011.1175%2014.5873%209.52856%2014.5873%207.79366C14.5873%204.04823%2011.5391%201%207.79366%201C4.04823%201%201%204.04823%201%207.79366C1%2011.5391%204.04823%2014.5873%207.79366%2014.5873C9.12321%2014.5873%2010.3555%2014.1982%2011.3932%2013.5496L14.3765%2016.533C14.5549%2016.7114%2014.7981%2016.8086%2015.0413%2016.8086C15.2845%2016.8086%2015.5277%2016.7114%2015.7061%2016.533C16.0952%2016.1601%2016.0952%2015.5602%2015.7223%2015.1872ZM2.89704%207.79366C2.89704%205.10214%205.08593%202.89704%207.79366%202.89704C10.5014%202.89704%2012.6741%205.10214%2012.6741%207.79366C12.6741%2010.4852%2010.4852%2012.6903%207.79366%2012.6903C5.10214%2012.6903%202.89704%2010.5014%202.89704%207.79366Z%22%20fill%3D%22%234F4F4F%22%20stroke%3D%22%234F4F4F%22%20stroke-width%3D%220.5%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;

  &:focus {
    color: $blackOak;
    background-color: $white;
    border-color: $doctor;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .03);
  }
}
